<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="TestNG">
  <test name="Parameterization">
 <parameter name ="user" value="abc"/>
 <parameter name ="pass" value="password"/>
    <classes>
      <class name="testNG.ParameterizationDemo1"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
