<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Default suite">

	<test name ="Default test">
	<groups>
	<run>
	<include name = "A"/>
	
	
	</run>
	
	
	</groups>
	
		<classes>

				<class name = "TestNG.GroupingDemo1"/>
				<class name = "TestNG.GroupingDemo2"/>

				

		</classes>

	</test>
	
</suite>